/* :root {
  background-color: #e8bf8197;
  --primary: "orange"
  
} */

* {
  margin: 0;
  padding: 0;
  color: rgba(33, 33, 33, 0.87);
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
  135deg,
  #c85f00 0%,
  #eb7600 50%,
  #ffb36a 100%
) !important;
  /* background: linear-gradient(
  135deg,
  #c85f00 0%,
  #eb7600 50%,
  #ffb36a 100%
) !important; */
 /* background: linear-gradient(
  135deg,
  #eb7600 0%,
  #ff7f50 40%,
  #ffb37d 90%
) !important; */
 /* background: linear-gradient(
  to bottom,
  #eb7600,
  #f6a256
) !important; */
  display: flex;
  justify-content: center;
  align-items: center;
} 

header {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}



button {
  padding: 10px;
  font-size: 12px;
  border-radius: 10px;
}



/* input {
  background-color: rgb(240, 248, 255, 0);
} */

/* #searchBar::after {
  content: "aaaa";
  display: contents;
  height: 20px;
  width: 20px;
  background-color: rgb(255, 0, 0);
} */

/* #select ::before{
  content: "author";
  height: auto;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
  background-color: grey;
} */

/* table {
  width: 500px;
  text-align: center;
  height: 300px;
} */

#map {
  height: 100%;
  width: 100%;
}

.subscriptionCard {
  user-select: none;
  /* Empêche la sélection de texte */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
}

/* Cible l'ensemble de la scrollbar */
/* ::-webkit-scrollbar {
  width: 6px;          /* épaisseur verticale */
  height: 6px;         /* épaisseur horizontale */
}
::-webkit-scrollbar-thumb::after{
  width: 8px;          /* épaisseur verticale */
  height: 6px;         /* épaisseur horizontale */
  background-color: #1f5dba;
}
::-webkit-scrollbar-track {
  background: #eb242480;
  border-radius: 10px;

   margin: 30px;
  
} */

/* Barre draggable */
 /* ::-webkit-scrollbar-thumb {
  background: #c48b63ce;
  border-radius: 10px;
} 

::-webkit-scrollbar-thumb:hover {
  background: #1f5dba;
}   */

/* @media (max-width:900px){
li{
  font-size: 10px;
}
} */
 .titleSectionBook {
  height: 200px;
  width: 250px; /* fixe par défaut */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  #body {
    grid-template-columns: 0.05fr 1fr 0.05fr 0.05fr ! important;

  }

  header {
    display: flex !important;
    flex-direction: column-reverse !important;
    gap: 20px;
    justify-content: space-between !important;
    align-items :end !important;
    grid-area: 1/2/1/4 !important;
  }

  main {
    grid-area: 3/2/3/4 !important;
  }

  aside {
    display: none ! important;
  }

    .titleSectionBook{
    max-width: 150px ;
    min-width: 150px;

  }
}

@media (max-width: 600px) {

  .titleSectionBook{
    max-width: 100% ;
    min-width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    align-content: center;
    background-color: #1f5dba;
  }

  .titleSectionBook>h3{
    
   
  }
  .subtitleSectionBook{
    display: none;
  }

  section{
    flex-direction: column;
    min-height: 300px !important;
  }

  .shelfBottom{
    left: 0 !important;
    top:250px !important
  }

    .shelfTop{
    left: 0 !important;
    top:137px !important
  }


}